.header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(41, 189, 244);
}

.header .title {
  flex: 1;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
}

.header .title .title-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header .left-btn,
.header .right-btn {
  flex: 0 1 30px;
  width: 30px;
  height: 30px;
}

.header .left-btn {
  background: url("../assets/img/return.png") no-repeat 5px;
  background-size: 20px 20px;
}

.header .right-btn {
  background: url("../assets/img/close.png") no-repeat 5px;
  background-size: 20px 20px;
}

