.player-proportion {
  display: flex;
  align-items: center;
  height: 300px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.player-proportion .player-slide {
  flex-basis: 100px;
  height: 400px;
  line-height: 400px;
  border-right: 1px solid #ccc;
}
.player-proportion .right-slide {
  position: relative;
  flex: 1;
  align-self: flex-start;
  height: 300px;
  padding-top: 15px;
  box-sizing: border-box;
}
.player-proportion .right-slide .killer,
.player-proportion .right-slide .citizen {
  list-style: none;
  display: flex;
  margin: 10px;
}
.player-proportion .proportion-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
}

.killer .avatar {
  width: 16px;
  height: 16px;
  background: #ffa288;
}

.citizen .avatar {
  width: 16px;
  height: 16px;
  background-color: #8df1ff;
}

.home-slider {
  margin: 20px 0;
}

.assign {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  color: white;
  background: #ee9f1b;
  font-weight: 700;
  letter-spacing: 2px;
}

.input {
  position: relative;
  left: 50%;
  width: 50px;
  margin-bottom: 10px;
  transform: translateX(-50%);
  text-align: center;
}

.player-list.list-item {
  display: flex;
  padding: 15px 10px;
  font-size: 20px;
}

.list-title {
  flex-basis: 100px;
}

.list-name {
  flex: 1;
}

.label.prompt-label {
  color: blue;
  animation: promptlabel 3.5s ease;
}

.player-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 15px;
  box-sizing: border-box;
}

.kill-btn {
  width: 80%;
  padding: 15px 0;
  background: #FFA726;
  margin: 15px auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}


.route {
  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #56e7ff;
}



@keyframes promptlabel {
0% {
  opacity: 0;
  transform: translate(-50%, -50%);
}
30% {
  opacity: 1;
  transform: translate(-50%, -50%);
}
70% {
  opacity: 1;
  transform: translate(-50%, -50%);
}
100% {
  opacity: 0;
  transform: translate(-50%, -200%);
}
}
