.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  overflow: hidden;
}
.timeline-line {
  width: 1px;
  height: 100%;
  margin: 0 35px 0 25px;
  background: #000;
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

.timeline-li {
  position: relative;
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  background-color: #56e7ff;
}
.timeline-prompt {
  width: 200px;
  margin: 10px 0;
  font-size: 12px;
}

.timeline-li.done {
  background-color: #90acb6;
}

.timeline-li__content {
/*  position: absolute;
  width: 100px;
  height: 20px;
  line-height: 20px;*/
}

.timeline-li.done::before {
  content: '';
  position: absolute;
  z-index: 0;
  left: -5px;
  width: 0;
  height: 0;
  border: 5px solid #90acb6;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.timeline-li::before {
  content: '';
  position: absolute;
  z-index: 0;
  left: -5px;
  width: 0;
  height: 0;
  border: 5px solid #56e7ff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}



.timeline-kill::after,
.timeline-legacy::after{
  content: '';
  position: absolute;
  top: 3px;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: #ee9f1b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
